<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/final.css">
    <title>Document</title>
</head>

<body>
    <div class="container-movie2">
        <div id="imagem-container2">
            <div class="image2">
                <img src="{{items.imgUrl}}" alt="" srcset="">
            </div>
        </div>
        <div id="title-container2">
            <div id="title2">
                <span>{{items.title}}</span>
            </div>
        </div>
        <div id="plot-container2">
            <div id="plot2">
                <span>{{items.plot}}</span>
            </div>
        </div>
        <div id="genres-container2">
            <ul id="genres2">
                {{#each items.genres}}
                    <li class="genre2">
                        {{#if @first}}
                            {{this}},
                        {{else}}
                            {{this}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>

</html>